footer.section.section_footer
  .container
    .row
      .col-sm-4
        // About Us
        h5.section_footer__heading
          | About Us
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolorum, sint corporis nostrum, possimus unde eos vitae eius quasi saepe.
      .col-sm-4
        // Contact info
        h5.section_footer__heading
          | Contact info
        ul.section_footer__info
          li
            i.fa.fa-map-marker
            |  1234 Altschul, New York, NY 10027-0000
          li
            i.fa.fa-phone
            |  +1 987 654 3210
          li
            i.fa.fa-envelope-o
            a(href='mailto:admin@domain.com') admin@domain.com
      .col-sm-4
        // Opening hours
        h5.section_footer__heading
          | Opening hours
        .section_footer__open
          .section_footer__open__days Monday - Thursday
          .section_footer__open__time 10:00 AM - 11:00 PM
        .section_footer__open
          .section_footer__open__days Friday - Sunday
          .section_footer__open__time 12:00 AM - 03:00 AM
    // / .row
    .row
      .col-12
        // Copyright
        .section_footer__copyright
          i.fa.fa-copyright
          span#js-current-year 2018
          |  Touch&eacute;. All rights reserved.
    // / .row
  // / .container
