nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') EATS DULWICH
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarColor02' aria-controls='navbarColor02' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarColor02.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/locations') Locations
      li.nav-item
        a.nav-link(href='/offers') Offers
      li.nav-item
        a.nav-link(href='/about') The Eats Dulwich festival
      li.nav-item
        a.nav-link(href='/about') About
    form.form-inline.my-2.my-lg-0(action='/search' method='get')
      input.form-control.mr-sm-2(name='q' type='text' placeholder='Search')
      button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
