extends layout

block content
  #wrapper
    .row
      .col-md-8.col-md-8
        br
        br
        h1 Oh dear, something has gone wrong, check back with us later.
      
      .col-md-4.col-md-4
        