doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    include includes/header.pug
    block content
    br
    br
    br
    include includes/footer.pug
