@import "lib/bootswatch/dist/sandstone/variables";
@import "includes/bootstrap";
@import "lib/bootswatch/dist/sandstone/bootswatch";

#wrapper {
  margin:0 auto; 
  max-width: 1024px;
}

.ed-banner-homepage {
  background-image: url("/images/food.jpg");
  background-size: cover;
  background-position: 50%;
 }

 /*
 font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
*/